<!DOCTYPE html>
<html>
  <head>
    <title>StockTicker</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Stock Prices for {{ symbol }} in the last 100 days</h1>
    {{ the_div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
    {{ the_script|safe }}
  </body>
</html>